
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Index</title>
</head>
<body>
<h1>Hello from Customer Index</h1>
</body>
</html>
