@model ASPNetCoreForms.Models.ProductEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h2>Create</h2>

    <form asp-action="Create" asp-controller="Home" method="post">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />

        <label asp-for="Rate"></label>
        <input type="text" asp-for="Rate" />

        <label asp-for="Rating"></label>
        <input type="text" asp-for="Rating" />

        <input type="submit" name="submit" />
    </form>
</body>
</html>
