@model ASPNetCoreForms.Models.ProductEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormAndQuery</title>
</head>
<body>
    <form action="/home/FormAndQuery/Test" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" />

        <label for="Rate">Rate</label>
        <input type="text" name="Rate" />
        <label for="Rating">Rating</label>
        <input type="text" name="Rating" />
        <input type="submit" name="submit" />
    </form>
</body>
</html>
