
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        string encodedMessage = "<script>alert('You are under cross-site script injection attack');</script>";
    }
    <span>@Html.Raw(encodedMessage) </span>
</body>
</html>
