<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout Example</title>
    @RenderSection("header",required:false)
</head>
<body>

    <div id="header">
        <h1>Layout example in HTML</h1>
    </div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="Footer">
        <p>This is Footer</p>
    </div>
    @RenderSection("footer",required:false)
</body>
</html>