
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Header</h1>
<article>
    @RenderBody()
</article>
<footer>
    Footer
</footer>
</body>
</html>
